<% total = 0 %>

<% @transactions.each do |transaction| %>
<p>Merchant : <%= transaction.merchant.name %></p>
<p>Category : <%= transaction.tag.name %></p>
<p>Total value : £<%= transaction.value %></p>
<% total += transaction.value %>
<p><a href="/transactions/<%= transaction.id %>">Show Detail</a></p>
<hr>
<% end %>

<div class="total-spend">
<p>Total Spending YTD : <%="£#{total}"%></p>
</div>
