<p>Transaction ID : <%= @transaction.id %></p>
<p>Merchant : <%= @transaction.merchant_id %></p>
<p>Category : <%= @transaction.tag_id %></p>
<p>Total value : <%= @transaction.value %></p>
<p>Transaction ID : <%= @transaction.id %></p>
<p>Transaction details : <%= @transaction.details %></p>
<hr>
