
<table>
  <div class="table">
<tr>
  <th>Merchant</th>
  <th>Category</th>
  <th>Transaction Value</th>
  <th>Purchase Date</th>
  <th>Detail</th>
</tr>
  <% @transactions.each do |transaction| %>
  <tr>
  <td><%= transaction.merchant.name %></td>
  <td><%= transaction.tag.name %></td>
  <td><%= "£#{transaction.value}" %></td>
  <td><%= transaction.order_date %></td>
  <td><a href="/transactions/<%= transaction.id %>">Show Details</a></td>
  </tr>
  <% end %>
    </div>
</table>

<hr>

<button type="button" name="button">
  <li>Table Options
    <ul>
      <li><a href="/transactions/sort/DESC">Sort Table By Date</a></li>
      <li><a href="/transactions/sort-merchant/x">Sort Table By Merchant</a></li>
    </ul>
  </li>
</button>

<div class="total-spend">
<p>Total Spending YTD : <%= "£#{@transactions_total}" %></p>
</div>
