
<table>
  <div class="table">
<tr>
  <th>Merchant</th>
  <th>Category</th>
  <th>Transaction Value</th>
  <th>Order Date</th>
  <th>Detail</th>
</tr>
  <% @transactions.each do |transaction| %>
  <tr>
  <td><%= transaction.merchant.name %></td>
  <td><%= transaction.tag.name %></td>
  <td><%= "£#{transaction.value}" %></td>
  <td><%= transaction.order_date %></td>
  <td><a href="/transactions/<%= transaction.id %>">Show Detail</a></td>
  </tr>
  <% end %>
    </div>
</table>

<hr>

<div class="total-spend">
<p>Total Spending YTD : <%= "£#{@transactions_total}" %></p>
</div>
