
<p>Merchant : <%= @transaction.merchant.name %></p>
<p>Category : <%= @transaction.tag.name %></p>
<p>Total value : <%= @transaction.value %></p>
<p>Purchase Date : <%= @transaction.order_date %></p>
<p>Transaction ID : <%= @transaction.id %></p>
<p>Transaction receipt : <%= @transaction.receipt %></p>
<p>Purchase Details : <%= @transaction.details %></p>

<div class="button_element">
  <button type="button" name="button"><a href="/transactions/<%= @transaction.id %>/edit">Edit</a></button>
</div>

<div class="button_element">
  <form onsubmit="confirm('Are you sure you want to delete this transaction?')" action="/transactions/<%= @transaction.id %>/delete" method="post"><input type="submit" value="Delete"></form>
</div>

<div class="button_element">
  <button type="button" name="button"><a href="/transactions">Back</a></button>
</div>

<hr>
