<h2>Transactions - Date Order</h2>
<br>

<table>
  <div class="table">
<tr>
  <th>Merchant</th>
  <th>Category</th>
  <th>Transaction Value</th>
  <th>Purchase Date</th>
  <th>Receipt</th>
  <th>Detail</th>
</tr>
  <% @transactions.each do |transaction| %>
  <tr>
  <td><%= transaction.merchant.name %></td>
  <td><%= transaction.tag.name %></td>
  <td><%= "£#{transaction.value}" %></td>
  <td><%= transaction.order_date %></td>
  <td><%= transaction.receipt %></td>
  <td><a href="/transactions/<%= transaction.id %>">Show Details</a></td>
  </tr>
  <% end %>
    </div>
</table>

<br>

<div class="flex_container">
  <a class="button_element button_blue" href="/transactions/sort/ASC">Sort Date Ascending</a>

  <a class="button_element button_blue" href="/transactions/sort/DESC">Sort Date Descending</a>

  <a class="button_element button_blue" href="/transactions">Back</a>
</div>


<div class="total-spend">
<p>Total Spending YTD : <%= "£#{@transactions_total}" %></p>
</div>

<footer>
<% if @transactions_total >= @user.budget %>
<div class="warning">
  <p>You have spent your specified budget!</p>
</div>
<% end %>
</footer>
