<h2>Transactions - Category</h2>
<br>

<table>
  <div class="table">
<tr>
  <th>Merchant</th>
  <th>Category</th>
  <th>Transaction Value</th>
  <th>Purchase Date</th>
  <th>Receipt</th>
  <th>Detail</th>
</tr>
  <% @transactions.each do |transaction| %>
  <tr>
  <td><%= transaction.merchant.name %></td>
  <td><%= transaction.tag.name %></td>
  <td><%= "£#{transaction.value}" %></td>
  <td><%= transaction.receipt %></td>
  <td><%= transaction.order_date %></td>
  <td><a href="/transactions/<%= transaction.id %>">Show Details</a></td>
  </tr>
  <% end %>
    </div>
</table>

<hr>

<div class="menus">
<div class="dropdown">
  <button class="dropbtn">Categories
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
    <% @tag.each do |tag| %>
      <a href="/transactions/sort-tag/<%= tag.name %>"><%= tag.name %></a>
    <% end %>
    <a href="/transactionssort-tag/">Back</a>
  </div>
</div>
</div>

</div>


<div class="total-spend">
  <% total = 0 %>
  <% @transactions.each do |price| %>
  <% total += price.value %>
  <% end %>
<p>Total Spending YTD : <%= "£#{total}" %></p>
</div>

<footer>
<% if @transactions_total >= @user.budget %>
<div class="warning">
  <p>You have spent your specified budget!</p>
</div>
<% end %>
</footer>
