<table>
  <div class="table">
<tr>
  <th>Merchant</th>
  <th>Category</th>
  <th>Transaction Value</th>
  <th>Purchase Date</th>
  <th>Receipt</th>
  <th>Detail</th>
</tr>
  <% @transactions.each do |transaction| %>
  <tr>
  <td><%= transaction.merchant.name %></td>
  <td><%= transaction.tag.name %></td>
  <td><%= "£#{transaction.value}" %></td>
  <td><%= transaction.order_date %></td>
  <td><%= transaction.receipt %></td>
  <td><a href="/transactions/<%= transaction.id %>">Show Details</a></td>
  </tr>
  <% end %>
    </div>
</table>

<hr>

<div class="button_element">
  <button type="button" name="button"><a href="/transactions/sort/ASC">Sort Date Ascending</a></button>
  <button type="button" name="button"><a href="/transactions/sort/DESC">Sort Date Descending</a></button>
  <button type="button" name="button"><a href="/transactions">Back</a></button>
<div class="total-spend">
<p>Total Spending YTD : <%= "£#{@transactions_total}" %></p>
</div>

<footer>
<% if @transactions_total >= @user.budget %>
<div class="warning">
  <p>You have passed your specified budget!</p>
</div>
<% end %>
</footer>
