<h2>Transactions - Merchant</h2>
<br>

<div style="overflow-x:auto">

<table>
  <div class="table">
<tr>
  <th>Merchant</th>
  <th>Category</th>
  <th>Transaction Value</th>
  <th>Purchase Date</th>
  <th>Receipt</th>
  <th>Detail</th>
</tr>
  <% @transactions.each do |transaction| %>
  <tr>
  <td><%= transaction.merchant.name %></td>
  <td><%= transaction.tag.name %></td>
  <td><%= "£#{transaction.value}" %></td>
  <td><%= transaction.order_date %></td>
  <td><%= transaction.receipt %></td>
  <td><a href="/transactions/<%= transaction.id %>">Show Details</a></td>
  </tr>
  <% end %>
    </div>
</table>

</div>

<hr>


<div class="dropdown">
  <button class="dropbtn">Merchants
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
    <% @merchant.each do |merchant| %>
      <a href="/transactions/sort-merchant/<%= merchant.name %>"><%= merchant.name %></a>
    <% end %>
    <a href="/transactions">Back</a>
  </div>
</div>




</div>


<div class="total-spend">
  <% total = 0 %>
  <% @transactions.each do |price| %>
  <% total += price.value %>
  <% end %>
<p>Total Spending YTD : <%= "£#{total}" %></p>
</div>

<footer>
<% if @transactions_total >= @user.budget %>
<div class="warning">
  <p>You have passed your specified budget!</p>
</div>
<% end %>
</footer>
